CompileFlags:
  CompilationDatabase: /home/lol/ledriver/build
  Compiler: /usr/bin/clang
  Remove:
    - "--target=*"
    - "-target"
    - "-mlongcalls"
    - "-mtext-section-literals"
    - "-fstrict-volatile-bitfields"
    - "-fno-shrink-wrap"
    - "-fno-tree-switch-conversion"
    - "-fzero-init-padding-bits=*"
    - "-fno-malloc-dce"
    - "-specs=*"
  Add:
    - "--target=x86_64-pc-linux-gnu"
    