---
BasedOnStyle: LLVM

ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

PointerAlignment: Right
DerivePointerAlignment: false
SortIncludes: CaseSensitive
IncludeBlocks: Preserve

AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1

BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakStringLiterals: true
ContinuationIndentWidth: 4

Cpp11BracedListStyle: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false

IndentCaseLabels: false
IndentPPDirectives: None
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
ReflowComments: true

ForEachMacros:
  - LIST_FOREACH
  - SLIST_FOREACH
  - STAILQ_FOREACH
  - TAILQ_FOREACH

StatementMacros:
  - ESP_ERROR_CHECK
  - ESP_LOGD
  - ESP_LOGE
  - ESP_LOGI
  - ESP_LOGV
  - ESP_LOGW
  - ESP_RETURN_ON_ERROR
  - ESP_RETURN_VOID_ON_ERROR
