CompileFlags:
  Remove:
    - -fno-shrink-wrap
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -fzero-init-padding-bits=*
    - -fno-malloc-dce
    - -Wno-old-style-declaration
